{% extends 'base.html' %}

    {% block head %}
        <style>
        div.jumbotron{
            text-align:center;
            color:black;
            }
	</style>
    {% endblock %}

<body>
    {% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="text-align:center;width:80%;margin:auto;">
        <button type="button" class="fade close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
    {% endfor %}


    <div class="container">
        <div class="jumbotron">
            <p>Compress images without losing the details, acceptable formats include: JPG, PNG, JPEG.</p>

            <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
            {{form.picture.label(class='form-group')}} {{form.picture(class='form-control')}}
            </div>

            <div class="form-group">
            {{form.submit(class='btn btn-primary')}}
            </div>

            </form>

        </div>
    </div>
    {% endblock %}
</body>
