<!doctype html>
<html>

<head>
    <title>Image Compressor</title>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block title %}
    {% endblock %}
</head>

<body>

<section class="headerSection">
           <img src="{{ url_for('static', filename='logo.png') }}" width="20px" height="20px"/>
    <!-- <h1>Image Compressor</h1> --> <b> Image Compressor </b>
</section>

<section class="myArticle">
  Compress images without losing the details, acceptable formats include: JPG, PNG, JPEG.
  
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file" class="myClass" accept="image/*">
      <input type="submit" value="Upload Image" class="myButton">
    </form>

</section>


<section class="mySection">
    {% block content %} {% endblock %}
</section>

</body>

<footer> &copy David CN 2022 </footer>
</html>
